<div class="card light">
  <div class="card-header" >
    {{pageTitle}}
  </div>
  <div class="card-body" *ngIf="counties?.length" [formGroup]="listForm">
      <div class="form-group row">
          <label class="col-md-5 col-form-label">Croatia Counties</label>
          <div class="col-md-6">
            <select class="form-control" name="counties" (change)="changeByCounty($event)" >
              <option *ngFor="let item of counties" [value]="item.ID" >{{ item.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label" >Croatia Towns</label>
          <div class="col-md-6">
            <select class="form-control" name="towns" (change)="changeByCounty($event)">
              <option *ngFor="let item of townsByCounty"  [value]="item.ID" >{{ item.name }}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-5 col-form-label" >Croatia Communities</label>
          <div class="col-md-6">
            <select class="form-control" name="Communities" (change)="changeByCounty($event)">
              <option *ngFor="let item of communitiesByCounty" [value]="item.ID">{{ item.name }}</option>
            </select>
          </div>
        </div>
    <label for="search">Search by word</label>
    <input id="search" formControlName="searchTerm"
           class="form-control"
           type="text"
           placeholder="Search"
           (keyup) ="onChanges($event)"/>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
    </div>
  </div>

<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>

